.svd_commercial_container{display:none!important}
.sv_main.sv_default_css {background-color: transparent;}
.sv_main .sv_container .sv_header {padding: 0;}
.sv_main.sv_default_css .sv_body {background-color: transparent; border-color: transparent;}
.sv_main .sv_container .sv_body {padding: 0;}
.sv_main .sv_body {background-color: transparent; border-top: none;}
.sv_main .sv_p_root>.sv_row:nth-child(odd) {background-color: transparent;}
.sv_main .sv_p_root>.sv_row {border-bottom: none;}
.sv_main.sv_default_css .sv_p_root > .sv_row:nth-child(2n) {background-color: transparent;}
.sv_main.sv_default_css .sv_p_root > .sv_row:nth-child(2n+1) {background-color: transparent;}
.sv_main.sv_default_css .sv_custom_header {background-color: transparent;}
.sv_main .sv_container .sv_body .sv_p_root .sv_q {padding: 0 !important; overflow: hidden;}
.sv_main .sv_container .sv_body .sv_p_root .sv_q:not(.sv_qstn_left) {padding-top: 0.625rem !important;}
.sv_qstn .title-left {width: 33.33333333%; margin-right: calc(0.5em - 4px) !important; text-align: right; padding-right: 0.5rem; box-sizing: border-box;}
.sv_qstn.sv_qstn_left {margin-top: 0.1875rem !important; margin-bottom: 0.1875rem;}
.sv_main.sv_default_css .sv_container,
.sv_main .sv_container .sv_body .sv_p_root .sv_q_title {font-family: "72","72full",Arial,Helvetica,sans-serif; font-size: .875rem; color: #6a6d70; font-weight: normal}
.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_other input, 
.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_text_root, 
.sv_main .sv_container .sv_body .sv_p_root .sv_q input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]), 
.sv_main .sv_container .sv_body .sv_p_root .sv_q select, 
.sv_main .sv_container .sv_body .sv_p_root .sv_q textarea {
    padding: .1875rem .5rem !important;
    border: .0625rem solid #89919a !important;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_dropdown_control {
    padding: 0 !important;
    border: 0 !important;
}
.sv_main .sv_row .sv_row {padding-left: 0.75rem; padding-right:0.75rem}
.sv_main .sv_container .sv_body .sv_p_root .sv_p_title {
    border-width: 1px;
    border-color: #d9d9d9;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .875rem;
    color: #32363a;
}
.sv_main .sv_qstn .sv_q_file .sv_q_file_choose_button,
.sv_main.sv_default_css input[type="button"], .sv_default_css button {
    height: calc(2rem - 3px);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /* .sapMBtnInner */
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-sizing: border-box;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    min-width: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: #fff;
    border: 0.0625rem solid #0854a0;
    border-radius: 0.2rem;
    color: #0854a0;
    text-shadow: none;
    /* .sapUiSizeCompact .sapMBtnInner.sapMBtnText */
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    /* .sapUiSizeCompact .sapMBtnInner */
    /* height: 1.625rem; */
    min-width: 2rem;
}

.sv_complete_btn {display: none;}

.sv_main.sv_main .sv-boolean__switch {background-color: #ebf5fe; border: 1px solid #89919a; padding-top: 1px}
.sv_main.sv_main .sv-boolean__slider {background-color: #0854a0;}

.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_select_wrapper:before {
    background: none;
    /* .sapMSltArrow */
    position: absolute;
    top: -40%;
    right: 0;
    color: #0854a0;
    font-size: 1rem;
    /* .sapMSltArrow::before */
    font-family: "SAP-icons";
    speak: none;
    content: "\e1ef";
}