/* Alignment classes */
.pull-right {float: right;}
.pull-left {float: left;}
.pull-center {margin-left: auto; margin-right: auto; display: block;}

/* Visibility classes */
.exf-promoted {font-weight: bold;}

/* Symfony Debugger */
.exception .container {width: auto !important;} 
pre.sf-dump {background: none !important; border: none !important;}
pre.sf-dump span.sf-dump-key {color: black !important;}
pre.sf-dump span.sf-dump-str {color: black !important;}
pre.sf-dump .sf-dump-private, pre.sf-dump .sf-dump-public, pre.sf-dump .sf-dump-protected {color: black !important;}

/* Shell: custom header */
#exf_pagetitle {color: #346187}
.sapUiUfdShellCntnt > .sapMIBar.sapMTB {height: 44px; padding: 0 0.5rem 0 0;}
.sapUiUfdShellCntnt > .sapMIBar.sapMTB .sapMBtnIcon:before {font-size: 16px}
.exf-context-popup .sapMPanelContent {border-bottom: 0 !important}

/* sap.m.Input */
/* fix for suggest-table being hidden the first time the phone-suggest-dialog opens 
- regardless of being empty or not */
.sapMDialog.sapMSuggestionsPopover .sapMInputSuggestionTableHidden {display: block !important}

/* sap.m.Table */
.sapMList.sapMListBGTranslucent.sapMListTblCnt {overflow-x: scroll}
.sapMTB-Info-CTX .sapMBtnTransparent>.sapMBtnIcon {color: #fff}
/* Fix for too narrow progress bars in mobile sap.m.Table */
.sapMListTblSubCntValInline > .sapMPI {min-width: 150px}
/* Fix missing border on navigatable sap.m.GroupHeaderListItem */
.sapMGHLICell + .sapMListTblNavCol { border-top: 2px solid #ccc !important; }
/* Fix misaligned text on smartphones if table inside an editable form */
.sapUiFormEdit .sapMListTblSubCnt .sapMText {min-height: inherit; padding-bottom: inherit; line-height: inherit;}
.sapUiFormEdit .sapMListTblCell .sapMText {min-height: inherit; padding-bottom: inherit; line-height: inherit; padding-top: inherit; } 

/* Panels */
.exf-panel-no-border > .sapMPanelContent {border-bottom: none;}

/* sap.m.List */
.sapMLIB.sapMSLIIcon {padding-left: 0;}

/* sap.m.GridList */
.sapFGridListDefault {padding: 0 0.5rem}

/* sap.f.DynamicPage */
.exf-page-heading-btn {margin-right: 0.2rem;}
.exf-page-heading-btn > span {height:1.25rem !important; margin-top: -0.063rem !important}
.exf-page-heading-btn > span > span {height:1.25rem !important; margin-top: -0.5rem !important}
.sapUiSizeCompact .exf-page-heading-btn > span {height:1.25rem !important; margin-top: 0rem !important}
.sapUiSizeCompact .exf-page-heading-btn > span > span {height:1.25rem !important;  margin-top: -0.188rem !important}
body:not(.sapUiSizeCompact) .sapFDynamicPageTitleMainHeadingInner .sapMTitle > span {line-height: 2.375rem}
/* Fix page header collaps button icon shifted to the right */
.sapUiSizeCompact .sapFDynamicPageToggleHeaderIndicator > .sapMBtnInner {padding-left: 0.2rem !important; padding-right: 0.2rem !important;}
/* */
.sapFDynamicPage-Std-Phone .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped>.sapFDynamicPageTitle {padding-bottom: 1.2rem;}
.sapFDynamicPage-Std-Phone .sapFDynamicPageTitleWrapper>.sapFDynamicPageTitle .sapFDynamicPageTitleActionsBar {padding-right: 0;}
.sapFDynamicPage-Std-Phone .sapFDynamicPageTitleWrapper>.sapFDynamicPageTitle .sapFDynamicPageTitleActionsBar > .sapMTB {padding-right: 0;}

/* LoginPrompt */
.exf-loginprompt-flexbox > div {max-width: 95%}
.sapMDialog .exf-loginprompt-flexbox > div {max-width: 100%; width: 100%}
.exf-loginprompt-panel > h2 {text-align: center; height: 4rem !important; line-height: 4rem !important; font-size: 1.2rem;}
.exf-loginprompt-panel > .sapMPanelContent {border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;}

/* sap.m.P13nDialog */
.sapMP13nDialog > .sapMDialogResizeHandler {position: inherit}

/* Tiles */
.sapMTileCntContent .sapMFC.sapMTcInnerMarker {width: inherit !important;}
.sapMTileCntContent .sapMFCCTxt {overflow: visible !important;}
.sapMGT.exf-stretched .sapMTileCnt.sapMFrameTypeAuto {max-width: none;}
.sapMGT.exf-col-3 {width: calc(25% - 0.5rem)}
.sapMGT.exf-col-4 {width: calc(33% - 0.5rem)}
.sapMGT.exf-col-6 {width: calc(50% - 0.5rem)}
.sapMGT.exf-col-12 {width: 100%}
.sapMGT.OneByOne .sapMText .sapMTextMaxLine.sapMTextLineClamp {-webkit-line-clamp: 3 !important}
.exf-icon-tile .sapMGTContent {margin-top: -40px}
.exf-tiles > .sapMPanelContent {border-bottom: none;}
.exf-tiles > h2, .exf-panel > h2 {margin-top: 1rem;}
.exf-tile > .sapMGTHdrContent.OneByOne > .sapMGTSubHdrTxt > .sapMText {white-space: normal;max-height: 3rem;  display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;text-overflow: -o-ellipsis-lastline;}
/* Fix remove grayish background on busy-indicator in tile content */
.sapMTileCntContent > .sapMNC  > .sapUiLocalBusyIndicator {background-color: transparent;}
/* Fix to force 2-column tile menus even on phones with long narrow screens (centering on wider phones) */
html.sapUiMedia-Std-Phone .exf-tiles > .sapMPanelContent {padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto; width: 23.5rem; max-width: 100%}

/* Panels */
.exf-panel > .sapMPanelContent {border-bottom: none;}

/* Forms */
.sapUiFormTitle:empty {display: none;}
.exf-formcontainer-invisible {padding: 0 !important}
.exf-panel.exf-form-mixed-width .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM12 {padding: 0 0.75rem; box-sizing: border-box;}
.exf-panel.exf-form-mixed-width .sapUiRespGrid {padding-right: 0; padding-left: 0;}
.sapUiRespGrid > div > .sapMMsgStrip {margin: 0px !important;}

/* HTML widgets */
.exf-html {font-size: 0.875rem;}
.sapUiSimpleForm .exf-html h1 {font-size: 1.275rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h2 {font-size: 1.175rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h3 {font-size: 1.075rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h4 {font-size: 1.0rem; font-weight: normal;}

/* QRCode */
.qrcode > img {margin: 0 auto 10px auto;}

/* Image */
img.sapMImg:not(.sapUxAPObjectPageHeaderObjectImage) {display: block; max-width: 100%}

/* Temp. fixes for UI5 issues */
.sapMImageContentImageIcon.sapUiIcon {position: absolute; display: block;}
/* Image and title in object page layout header to close to page header line in 1.67.1 */
.sapUxAPObjectPageHeaderContent {padding-top: 1rem;}
/* sap.m.Table group header rows barely different from striped rows */
.sapMGHLICell {padding: 0 1rem; border-top: 2px solid #ccc !important; font-weight: bold;}
/* Virtual touch-scrollbar gets too wide on Chrome (see ObjectPageLayout) */
.sapMScrollBarTouch > .sapMScrollBarInnerDiv {width: 0.75rem;}

/* jExcel */
.jexcel_container {width: 100%; padding: 0 !important;}
.jexcel_content {width: 100%; padding: 0 !important;}
table.jexcel {width: 100%; font-size: 0.875rem; border-color: rgb(229, 229, 229)}
table.jexcel.jexcel_overflow {border-top: none; border-left: none;}
.jexcel_row, .jexcel_selectall {padding-left: 5px !important; padding-right: 5px !important; max-width: 4em}
.jexcel>thead.footer>tr>td {background-color: white; font-weight: bold; border-top: 1px solid #666;}
.jexcel td {overflow: hidden; text-overflow: ellipsis;}
.jdropdown-container.slide-bottom-in {bottom: initial !important;}
.jexcel .editor > input {font-family: inherit; font-size: inherit; text-align: inherit !important; padding: 6px;}
/* jExcel style as UI5 tables */
table.jexcel > thead > tr > td {padding-left: 8px; padding-right: 8px; text-align: left !important;}
table.jexcel > tbody > tr, table.jexcel > thead > tr {height: 33px;}
table.jexcel > tbody > tr.selected {background-color: #e5f0fa}
table.jexcel > tbody > tr > td:not(.readonly):not(.highlight-selected) {border-top-color: #89919a; border-left-color: #89919a;}
table.jexcel > tbody > tr > td:not(.readonly):not(.highlight-selected) + td.readonly {border-left-color: #89919a;}
table.jexcel > tbody > tr > td:last-child:not(.readonly):not(.highlight-selected) {border-right-color: #89919a}
table.jexcel > tbody > tr:last-child > td:not(:first-child):not(.readonly):not(.highlight-selected) {border-bottom-color: #89919a;}
table.jexcel > thead > tr > td {border-top-color: rgb(229, 229, 229); border-left-color: rgb(229, 229, 229); background-color: #f2f2f2;}
table.jexcel > tbody > tr > td.jexcel_row {background-color: #f2f2f2; border-top-color: rgb(229, 229, 229) !important;}
table.jexcel > tbody > tr > td.readonly {color:inherit;}
table.jexcel td > input {font-family: inherit;}
table.jexcel > tbody > tr > td.jexcel_dropdown { background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M7 10l5 5 5-5H7z' fill='gray'/%3E%3C/svg%3E");}
.exf-spreadsheet-change {position: relative}
.exf-spreadsheet-change::before {content: "◤"; color: #89919a; font-size: 12px; position: absolute; left: 0; top: 0; margin-left: -2px; margin-top: -3px}
.exf-spreadsheet-invalid {background-color: #ffebeb;}
.exf-spreadsheet-invalid::before {color: #b00;}
/* Make sure a cell dropdown does not "dive" under the next jexcel instance */
.sapUiTable.jexcel_container {position: static; z-index: initial;}

/* UI5DashBoard Widget GridContainer layout for columns*/
.dashboard_gridcontainer_layout {grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) !important; grid-auto-rows: auto !important;}
.sapFCardContent > .sapMPanel > .sapMPanelContent {border-bottom: 0 !important}
.dashboard_gridcontainer_gap_margin_bottom {margin-bottom: 10px !important}

/* Dialog */
.sapUxAPObjectPageSection.sapUiNoContentPadding > .sapUxAPObjectPageSectionContainer > .sapUxAPObjectPageSubSection > .sapUxAPBlockContainer {padding: 0;}
.sapUxAPObjectPageSection.sapUiNoContentPadding .sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1>.sapUiRespGridSpanS12:first-of-type {width: 100%}
.sapUxAPObjectPageSection.sapUiNoContentPadding .sapUiRespGrid:first-of-type {padding: 0;}
.sapUxAPObjectPageSection.sapUiNoContentPadding .sapUiRespGrid.sapUiRespGridHSpace1>div:first-of-type {margin: 0; width: 100%}
.sapUxAPObjectPageSection.sapUiNoContentPadding {margin-bottom: 1.5rem;}
.exf-dialog-page.exf-dialog-filled .sapUxAPObjectPageSection.sapUiNoContentPadding {margin-bottom: 0;}
.exf-dialog-page.exf-dialog-filled .sapUxAPObjectPageSection.sapUiNoContentPadding + .sapUxAPObjectPageSection.sapUiNoContentPadding {margin-top: 1rem;}
/* Dialog (non-max) */
html.sap-phone .sapMDialog {min-width: 20rem !important}
html.sap-tablet .sapMDialog, html.sap-desktop .sapMDialog {min-width: 25rem !important}
/* Remove extra space at bottom of last WidgetGroup in a small dialog */
.sapMDialog .sapUiRespGrid > .sapUiRespGridSpanS12:last-of-type > .sapUiRGLContainer > .sapUiRGLContainerCont > .sapUiRespGrid:last-of-type {padding-bottom: 0;}

/* DataLookupDialog */
.sapMDialog > .sapMDialogSection > .sapMDialogScroll {height: 100%}
.sapMDialog .sapMVBox > .sapMFlexItemAlignAuto {height: 100%}
.exf-datalookup-tokenizer .sapMInputBaseIconContainer {display: none !important;}
.exf-datalookup .sapMPanelWrappingDivTb, .exf-datalookup .sapMPanelContent:not(.sapMPanelBGTransparent) {border: none !important;}

/* Textual busy overlays */
.exf-busy-text .sapUiLocalBusyIndicatorAnimation {display: none}
.exf-busy-text-content {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* Wizard */
.exf-wizard-step-hide-caption > .sapMWizardStepTitle {visibility: hidden; height: 0px; margin: 0;}
/* FIX next-button of mobile wizzards floating in the upper part of the screen - even if the wizard itself is not visible! */
html.sap-phone .sapMWizard .sapMWizardNextButtonVisible {position: relative !important; left: inherit !important; bottom: inherit !important;}

/* Map */
.exf-map {z-index: 0}
.exf-map-popup h3 {padding-left: 0}
.exf-map-popup-table > tbody > tr > td:nth-of-type(2) {font-weight: bold}
.exf-map .extra-marker > i.fa-map-marker {margin-top: 8px !important;}
.exf-map .leaflet-marker-icon.selected:not(.exf-map-point)::before {content: ''; display: block; width: 40px; height: 27px; -moz-border-radius: 7.5px; -webkit-border-radius: 7.5px; border-radius: 50%; border: 5px solid gray; position: absolute; top: 23px; left: -7px; z-index: -1;}
.exf-map .leaflet-marker-icon.selected.exf-map-point > div {border: 5px solid gray; margin-top: -5px; margin-left: -5px}
.exf-map .marker-cluster {background-clip: padding-box; border-radius: 20px;}
.exf-map .marker-cluster div {width: 30px; height: 30px; margin-left: 5px; margin-top: 5px; color: white; text-align: center; border-radius: 15px;}
.exf-map .marker-cluster i {line-height: 30px;}

/* Slick carousel: ImageGallery */
.slick-carousel.horizontal .slick-list {padding: 10px; box-sizing: border-box;}
.slick-carousel.horizontal .slick-list, 
.slick-carousel.horizontal .slick-track, 
.slick-carousel.horizontal .slick-slide, 
.slick-carousel.horizontal .slick-slide img {height: 100%}
.slick-carousel.horizontal .slick-slide {margin-left: 10px; box-sizing: border-box;}
.slick-carousel.horizontal .slick-prev.slick-arrow {left: 5px; z-index: 1;}
.slick-carousel.horizontal .slick-next.slick-arrow {right: 5px; z-index: 1;}
.slick-carousel.horizontal .slick-arrow:before {color: #404040}
.slick-carousel .slick-slide {overflow: hidden;}
.slick-carousel .slick-slide.selected {border: 5px solid #9cc8f7}
.slick-lightbox .slick-prev.slick-arrow {z-index: 1}
.imagecarousel-file {height: 100%; width: 180px; position: relative; background-color: #f5f5f5; cursor: pointer;}
.imagecarousel-file > i {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 200%}
.imagecarousel-title {bottom: 0; position: absolute; padding: 10px; font-size: 0.8rem; text-align: center; width: calc(100% - 20px);}
.imagecarousel-overlay {position: absolute; top: 0; width: 100%; height: 100%}

.imagecarousel-file {background-color: white; border: 1px solid rgb(217, 217, 217);}
.imagecarousel-nodata > .sapUiIcon::before {font-family: SAP-icons; content: "\e172";}

/* DocScanner */
.docScanner {aspect-ratio: 210 / 297; max-height: 100%; max-width: 100%; border: 1px solid #0854a0; box-sizing: border-box; margin: 10px; background-color: white;}
.docScannerUploader {display: none;}
.docScannerDialog .sapMDialogSection {background-color: lightgrey;}

/* Pad */
.exf-pad > .sapMPanelContent {border-bottom: 0 !important}

/* ColorIndicator */
.sapMObjStatus {white-space: nowrap;}

/* Split */
/* No padding for tables with header (DynamicPage contents) filling a split panel */
.sapUiLoSplitterContent > .sapUiNoContentPadding > .sapMPanelContent  > .sapFDynamicPage > .sapFDynamicPageContentWrapper > .sapFDynamicPageContent > .sapFDynamicPageContentFitContainer {padding: 0}

/* Chart */
.fullscreen {position: fixed!important; top: 0; left: 0; z-index: 250!important; width: 100vw!important; height: 100vh!important; background: rgba(255,255,255);}